<form action="/new" method='post'>
	<p><input type="text" name="post_title" placeholder="Enter post title"></p>
	<p><input type="text" name="post_slug" placeholder="Enter post slug"></p>
	<p>
		<textarea name="post_body" placeholder="Enter post title"></textarea>
	</p>
	<input type="submit" value="submit"></input>
</form>